**.o
**~
**.hi
**.swp
**.bam
**.bai
**.sam
**.fastq
**.fasta
**.fa
reducedGenome/
bin/
.cabal-sandbox/
cabal.sandbox.config
dist/
.stack-work/
*.cache
src/MergeXlsLinux
src/MergeXls
src/CollapseHomerRNACallingLinux
.stack-work/install/x86_64-osx/lts-3.9/7.10.2/pkgdb/package.cache
.stack-work/install/x86_64-osx/lts-3.9/7.10.2/pkgdb/package.cache
